<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.jonalaniz.nextstats.smalltip</string>
	<string>com.jonalaniz.nextstats.mediumtip</string>
	<string>com.jonalaniz.nextstats.largetip</string>
	<string>com.jonalaniz.nextstats.massivetip</string>
</array>
</plist>
